// @file
// Blockquote styles.

$blockquote-cite-divider-color: travelr-color(ui, generic, border);

blockquote {
  @include display-text-style(blockquote);
  margin: 0 0 rem(travelr-spacing(lg));

  // Add top margin when blockquote is preceded by other elements
  * + & {
    margin-top: rem(travelr-spacing(lg));
  }

  p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  cite {
    display: block;
    margin-top: rem(travelr-spacing(sm));
    text-align: right;

    em {
      border-left: 1px solid $blockquote-cite-divider-color;
      font-weight: travelr-font-weight(regular);
      margin-left: rem(travelr-spacing(xxs));
      padding-left: rem(travelr-spacing(xs));
    }
  }

  @media print {
    page-break-inside: avoid;
  }
}
