// @file
// HTML styles.

html {
  box-sizing: border-box;
  font-family: travelr-font-family(primary);
  font-size: 100% * (travelr-base-font-size() / 16px);
  line-height: travelr-line-height(base);
  min-height: 100%;
  text-size-adjust: 100%;
}
